doctype html
html(lang='en', ng-app='stock-market-Angular')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Stock Market in Angular
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .container-fluid
      h1 Stock Market in Angular
      .row
        .col-xs-12
          h3 {{user.name}}
          h3 {{user.balance | currency}}
      .row
        form(name='userInfo' nonvalidate)
        .col-xs-6
          .form-group
            label(for='name') User Name
            input.form-control(name='name', type='text', ng-model='user.name')
        .col-xs-4
          .form-group
            label(for='balance') Balance
            input.form-control(name='balance', type='number', ng-model='user.balance')
        .col-xs-2
          .form-group
            button.button.btn.btn-info(ng-click='saveUser()') Initialize
            
      .row
        .col-xs-8
          form(name='portName' nonvalidate)
            .form-group
              label(for='portName') Portfolio Name
              input.form-control(name='portName', type='text', ng-model='portfolio.portName')
        .col-xs-4
            .form-group
              button.button.btn.btn-success(ng-click='addPortfolio()') Add Portfolio
      .row
        .col-xs-6
              label(for='dropdown') Select Portfolio
              select.form-control(name='dropdown', ng-model='portfolio.portName')
                option(ng-repeat='portfolio in portfolios') {{portfolio.portName}}
      .row
        .col-xs-2
              label(for='buy') Stock Symbol
              input.form-control(name='stockVal', type='text', ng-model='symbol')
        .col-xs-3
              label(for='shareNum') Number of Shares
              input.form-control(name='shareNum', type='number',ng-model='shareNum')
        .col-xs-3
              button.button.btn.btn-success(ng-click='getQuote()') Get Quote
        .col-xs-2
              h3 {{lastPrice | currency}} {{totalPrice | currency}}
          
      .row
        .col-xs-12
          button.button.btn.btn-danger(name='buy', ng-click='buyStock()') Buy Stock


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
