doctype html
html(lang='en', ng-app='stock-market-Angular')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Stock Market in Angular
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .container-fluid
      .row
        .col-xs-12
          h1 Stock Market in Angular
          input(name='name', type='text', ng-model='user.name')
          input(name='balance', type='number', ng-model='user.balance')
          button.btn.btn-info(ng-click='saveUser()') Initialize
          h3 {{user.name}}
          h3 {{user.balance | currency}}
      .row
        .col-xs-3
          form(name='portName' nonvalidate)
            .form-group
              label(for='portName') Portfolio Name
              input.form-control(name='portName', type='text', ng-model='portfolio.portName')
              button.btn.btn-success(ng-click='addPortfolio()') Add Portfolio
              select.form-control(ng-model='portfolio.portName')
                option(ng-repeat='portfolio in portfolios') {{portfolio.portName}}
      //- .row
      //-   .col-xs-3
      //-     input(name='stockVal', type='text', ng-model='symbol')
      //-     button.btn.btn-success(ng-click='getQuote()') Get Quote
      //-     button.btn.btn-warning(ng-click='buyStock()') Buy Stock
      //-     
      //-     

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
